@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"montserrat", poppins, sans-serif;
    overflow-x: hidden;
    height: auto;
    
}
body{
    overflow-x:hidden ;
}


html{
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
}

li, a, button{
font-family:"montserrat", poppins, sans-serif;
font-weight: 500;
font-size: 15x;
color:rgb(15, 119, 255, 1);
text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    position: fixed;
	width: 100%;
	transition: all 0.2s ease 0s;
	z-index: 1000;
    background: none;
  
} 

.nav-toggle{
    display: none;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    z-index: 9999;
   
}
.navigate{
    width:60%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

	
.sticky{
	background-color: rgba(167, 204, 247, 0.8);
	height: 10vh;
	width: 100%;
    backdrop-filter: blur(5px);
    overflow-y: hidden;

}


.logo{
    cursor: pointer;
    background: none;
   
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
transition: all 0.3s ease 0s;

}

nav{
    background: none;
    background-color: none;
}

.nav_links li a:hover{
    color: rgba(15, 171, 255, 0.8);
}
.call-us-now button{
   
    padding: 10px 25px;
    background-color: rgb(15, 119, 255, 1);
    border: none;
   border-radius: 50px;
   cursor:pointer;
   transition: all 0.3s ease 0s;
   color: white;
}
button{
    padding: 9px 35px;
     background-color: rgb(15, 119, 255, 1);
     border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
i{
    font-size: 12px;
    padding: 2px 0 0 10px;
}
button:hover{
    background-color: rgb(15, 119, 255, 0.8);
}

section{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
   
}



/*section one*/



.section-one1{
    background-image: url(./images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section-one{
    
 

    width: 100%;
    color: rgb(15, 119, 255, 1);
	text-align: left;
	font-size: 50px;
	margin-bottom: 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    overflow: hidden;
}

.section-one h1{
    font-size: 80px;
}
.wrapper{
    box-sizing: content-box;
    background-color:none;
    height: 100px;
    overflow: hidden;
    
    display: flex;
    border-radius: 8px;
    box-shadow: none;
}

.words{
    overflow: hidden;
}

.rotate{
    font-size: 80px;
    font-weight: bold;
    display: block;
    height: 110%;
    padding-left: 10px;
    color: #0e6ffc;
    animation: spin_words 8s infinite;
}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}






.book-appointment{
    padding: 15px 25px;
    margin:0;

}

.bookbutton{
 height: 15%;
width: 100%;
display:flex;
align-items: center;
justify-content:center;
transform: translateY(100%);
overflow: hidden;
}




/*_______________________________________________________________*/



/*section two*/



.section-two{
height: 100vh;
padding-top:50px;
font-size: 20px;
color :  rgb(45, 45, 45);
display: block;
align-items: center;
justify-content: center;
text-align: center;
overflow: hidden;


}

.section-two h1{
    text-transform: capitalize;
    text-align: center;
}

.writeup{
    padding: 20px 20%;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color :  rgb(45, 45, 45);
}

.pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    overflow: hidden;
}

.pictures img{
    size: 20%;
    
}
.illustrate{
    padding: 10px 50px;
    background-color:  rgb(255, 255, 255);
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    font-size: 14px;
    color: rgb(41, 41, 41);
    box-shadow: 0 0.5px 5px 1px rgba(165, 165, 165, 0.1), 0 4px 20px 0 rgba(204, 204, 204, 0.19);
    cursor: pointer;
    overflow-y: hidden;
    transition: all 1s ease;

}


.illustrate:hover{
    transform: translateY(10px);
    box-shadow: 0 0.5px 5px 1px rgba(165, 165, 165, 0.1), 0 4px 20px 0 rgba(204, 204, 204, 0.5);
}

.illustrate h3{
margin-bottom: 10px;
}
.illustrate p{
    line-height: 30px;
}

.illustrate i{
    font-size: 25px;
    margin-bottom: 80px;
}

.Learn-more button{
    margin-top: 5%;
    padding: 15px 25px;
    text-align: center;
}



/*_______________________________________________________________*/
/*horizontal line*/




.line{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    height: 10vh;
    width: 100%;
}

/*_______________________________________________________________*/
/*section three*/

.section-three{

    font-size: 20px;
    color :  rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:100px;
    padding-bottom: 20px;
    
}

.section-three h1{
    text-transform: capitalize;
    text-align: center;
}

.section3flex{
    overflow: hidden;
    margin-bottom: 0;
    
}




    
/*_______________________________________________________________*/
/*section four*/


.section-four{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: #f6f6f6;
    
}
.section-four h1{
   margin-bottom: 50px;
}
.section-four p{
    font-size: 15px;
    line-height: 25px;
}

/*_______________________________________________________________*/
/* Footer*/
footer{
height: 15vh;
width: 100%;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20% ;
    
}

footer p{
    font-size: 12px;
    line-height: 20px;
}

.footspan{
    font-weight: bold;
}

.fa-copyright{
    padding-left: 5px;
    font-size: 12px;
    transform: translateY(2px);
}

/*_______________________________________________________________*/
/* About page*/

.About-page{
background-color: #f6f6f6;
font-size: 20px;
color :  rgb(45, 45, 45);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding-top:90px;
overflow: hidden;
transition: all 0.5s ease;

}
.Abou-flex{
    margin-bottom: 0;
    overflow: hidden;

}
.About-explore{
    margin-top: 0;
   
}


.About-page h1{
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
}

.about-writeup{
    font-size: 60px;
    padding: 20px 30px;
    cursor: pointer;
   text-align: center;
    transition: all 0.5s ease-in-out;
    font-weight: medium;
}
.about-writeup:hover{
    color: rgb(15, 119, 255, 1);
    font-size: 58px;
}
.book-appointment{
    transition: all 0.5s ease;
}


/*_______________________________________________________________*/
/* Service Page*/
/*__________________________

____________________________*/



.newservice{
    background-color: #f6f6f6;
    
    color :  rgb(45, 45, 45);  
   text-align: center;
    padding-top:5%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 50px;
    
}

.newservice h1{
    margin-bottom: 20px;
    font-size: 50px;
   
}  
.newservice h2{
    color: black;
    font-size: 20px;
}
.newservice p{
    color: black;
    align-items: center;
    font-size: 13px;
    flex: 0.2 0 auto;
    padding-top: 10px;
    transition: all 0.5s ease;
}  

.listt {
    width: 100%;
     
      display: grid;
     grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
     justify-content: center;
     align-items: center;
     text-align: center;
     align-content: center;
     overflow: hidden;
     justify-items: center;
   
       }
      .flexx{
        display: flex;
      }
  
    .list--item {
      display: block; 
       align-items: cent;
     width: 80%;
     height: 70vh;
      border-radius: 5px;
     background-color:  rgb(255, 255, 255);
     box-shadow: 0 0.5px 5px 1px rgba(165, 165, 165, 0.1), 0 4px 20px 0 rgba(204, 204, 204, 0.19);
      margin: 25px;
      padding: 0;
      transition: all 0.5s ease;
      overflow: hidden;
     
    }
  
    .list--item:hover{
     
      transform:scale(1.02);
   }
  
    .list-content {
      display: flex;
      flex-direction: column;
      padding: 20px 35px 10px 35px;
      align-items: left;
      justify-content: center;
      text-align: left;
      width: 100%;
      height: 30%;
      overflow: hidden;
   }
.list-content p{
    text-align: justify;
    font-size: 12px;
}
   
  #pictur{
  
  width: 100%;
  height: 70%;
  size: 100%;

  display: flex;
 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  }
  
  
  .pictur img{
   height: 100% ;
    width:100%;
    size: 100%;
   object-fit: cover;

    
      
  }
  
   
  
  
   .link-button{
      padding: 10px 20px 10px 20px;
      border: none;
      border-radius: 50px;
      color: white;
      background-color:rgb(15, 119, 255, 1) ;
      transition: all  0.5s ease;
      margin-top: 20px;
   }
   .link-button:hover{
      background-color:rgb(15, 119, 255, 0.8);
      transform: translateX(5px);
   }
  

  /*___________________________________________________________*/
/* Contact us page*/

  

    .contact-page-main h1{
        margin-bottom: 50px;
        font-size: 50px;
           
    }
    
  

    .instruction-link2 p{
        padding:0;
        margin-top: 60px;
        text-align: center;
    
    }
    
    .contact-page-main{
        padding-top: 5%;
        height: 100vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     background-color: #f6f6f6;
    
        }

        contact-page-main h1{
        margin-bottom: 10%;

        }
        



/*_____________appear on scrolll_______________________________*/



    .illustrate {
        opacity: 0; 
        position: relative;
        bottom: -40px;
        transition: all 1s ease;
    }

    .Learn-more {
        opacity: 0; 
        position: relative;
        bottom: -40px;
        transition: all 2s ease;
    }
    .section3flex{
        opacity: 0; 
        position: relative;
        bottom: -40px;
        transition: all 1s ease;
    }
    .Explore2{
        opacity: 0; 
        position: relative;
        bottom: -40px;
        transition: all 1s ease;
    }
    .instruction-link{
        opacity: 0; 
        position: relative;
        bottom: -40px;
        transition: all 1s ease;
        transition-delay: 0.3s;
    }

    .form{
        opacity: 0; 
        position: relative;
        bottom: -40px;
        transition: all 1s ease;
    }

    .show {
        opacity: 1;
        bottom: 0;
    }
    

    .illustrate:nth-of-type(2) .illustrate.show {
        transition-delay: 0.5s;
    }
    
    .illustrate:nth-of-type(3) .illustrate.show {
        transition-delay: 2s;
    }

    .illustrate:nth-of-type(4) .illustrate.show {
        transition-delay: 5s;
    }





    /*_____________responsive_______________________________*/
    /*_____________responsive_______________________________*/
    /*_____________responsive_______________________________*/

    /*_____________responsive_______________________________*/
    @media (max-width:100em){

        .navigate{
            width:65%; 
           
        }


        .illustrate{
            padding: 10px 50px;
            background-color:  rgb(255, 255, 255);
            height: 450px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 25px;
            font-size: 14px;
            color: rgb(41, 41, 41);
            box-shadow: 0 0.5px 5px 1px rgba(165, 165, 165, 0.1), 0 4px 20px 0 rgba(204, 204, 204, 0.19);
            cursor: pointer;
            overflow-y: hidden;
        }


      
        .section-four{
            height: 100vh;
        }




        .section-one h1{
            font-size: 80px;
        }
        .wrapper{
            box-sizing: content-box;
            background-color:none;
            height: 100px;
            overflow: hidden;
            
            display: flex;
            border-radius: 8px;
            box-shadow: none;
        }
        
        .words{
            overflow: hidden;
        }
        
        .rotate{
            font-size: 80px;
            font-weight: bold;
            display: block;
            height: 110%;
            padding-left: 10px;
            color: #0e6ffc;
            animation: spin_words 8s infinite;
        }
    
        
        .list--item {
          
         width: 90%;
         height:70vh;
         
         
        }
        #pictur {
            height: 60% ;
           
             
               
           }
           .list-content {
            height: 40%;
           }
    
           .newservice{
            height: auto;
            padding-top: 10%;
             
            background-color: #f6f6f6;
                
                color :  rgb(45, 45, 45);  
               text-align: center;     
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               padding-bottom: 50px;
                
          
           }

           
           .section-three{
            height: 50vh;
            padding-top:5px;
        }


  

    }



    @media (max-width:90em){

        .navigate{
            width:70%; 
           
        }

        .section-one h1{
            font-size: 60px;
        }
        .rotate{
            font-size: 60px;
        }

        .contact-page-main{
            height: 100vh;
           }

        .illustrate{
            padding: 10px 50px 30px 50px;
            background-color:  rgb(255, 255, 255);
            height: 20%;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 25px;
            font-size: 14px;
            color: rgb(41, 41, 41);
            box-shadow: 0 0.5px 5px 1px rgba(165, 165, 165, 0.1), 0 4px 20px 0 rgba(204, 204, 204, 0.19);
            cursor: pointer;
            overflow-y: hidden;
            margin: 15px 10px;
        }

        .pictures{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin-top: 50px;
            overflow: hidden;
        }

        .section-two{
            height: 140vh;
        }


        .service-flexx{
            display: block;
        }

        .service-img{
            margin-top: 20px;
            width: 100%;
            height: 20vh;
            overflow: hidden;
            border-radius: 10px;
            
           }

           footer{
            height: 15vh;
            width: 100%;
            background-color: #ffffff;
            display: flex;
           
            align-items: center;
            justify-content: space-between;
            padding: 0 5% ;
                
            }



    }
    @media (max-width:70em){
        header{

            margin-right: 0;
            padding-right: 100px;         
            justify-content: right;
            background-color: none;
        }
        .header-flex{
            
            position: fixed;
            inset: 0 60% 0 0;
            display: block;
            text-align: center;
            padding: min(30vh, 10rem) 2em;
            
           
        }
        .navigate{
            width: 40%;
            position: fixed;
            inset: 0 60% 0 0;
            background-color: rgba(14, 14, 33, 0.5);
            display: block;
            text-align: center;
            padding: min(30vh, 10rem) 2em;
            transition: all 0.5s ease;
            transform: translateX(-100%);
           
        }
        .navigate[data-visible="true"]{
            transform: translateX(-0%);
        }

        @supports (backdrop-filter:blur(1rem)){
            .navigate{
                background-color:rgba(11, 35, 66, 0.663);
                backdrop-filter: blur(1rem);

            }
        }

        .nav-toggle{
            display: block;
            position: absolute;
            background-image: url(/icons/menu.png);
            background-color: transparent;
            border: none;
            aspect-ratio: 1;
            border-radius: 5px;
            padding: 0;
            width:2rem;
            top: 2rem;
            left: 5rem;
            z-index: 9999;
            background-repeat: no-repeat;
            background-size: contain;
            
        }

        .nav-toggle[aria-expanded="true"]{
            background-image: url(/icons/close.png);
            left: 2rem;
        }
        .nav-toggle:hover{
            background-color: transparent;
        }

        
        
        .nav_links li{
            display: block;
            padding: 0 20px;
            margin: 25px 0;
          
        }
        .nav_links li a{
            color: white;
        }
        
        .call-us-now button{
            display: inline-block;
         
        
        }
        .sticky{
            background: none;
            backdrop-filter: none;
        }

        

    }


    @media (max-width:60em){
        header{
            padding-right: 20px;
        }

.header-flex{
   
    position: fixed;
    inset: 0 30% 0 0;
    display: block;
    text-align: center;
    padding-top: 20%;
    
    
}


.navigate{
    width: 60%;
}



.nav_links li{
    display: block;
    padding: 0 20px;
    margin: 25px 0;
}

.call-us-now button{
    display: inline-block;
 

}




 li, a{
    font-family:"montserrat", poppins, sans-serif;
    font-weight: 500;
    font-size: 15x;
    
    }

.section-one{
    padding: 0 25px;
}
        
        .section-two{
            height:auto
        }


        .service-img{
            margin: 10%;
            width: 100%;
            height: 20vh;
            overflow: hidden;
            border-radius: 10px;
            
           }
       
           .service-flexx{
            display: block;
            margin:0 50px;
        }

        .service-writeup{
            margin-left: 10%;
        }


        .service-img{
            margin-top: 20px;
            width: 80%;
            height: 20vh;
            overflow: hidden;
            border-radius: 10px;
            
           }
           .section-three{
            height: 60vh;
            padding-top: 0;
           }

           .section-four{
           padding-top: 35px;
           height: 120vh;
           }
           .contact-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 10%;
            overflow: hidden;
        }

        .instruction-link p{
            padding: 20%;
            text-align: center;
        
        }
        
        footer{
            height: 15vh;
            width: 100%;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5% ;
            text-align: center;  
            overflow: hidden;
            }



            .contact-page-main h1{
                font-size: 30px;
                
            }

            


            .form2{
                height: auto;
            }

    }

    @media (max-width:50em){
     

        .nav-toggle{
            left:3rem;
        }

        .section-one h1{
            font-size: 40px;
        }
        .rotate{
            font-size: 40px;
        }

.section-three{
    height: 50vh;
    padding-top:10px;
    padding-bottom: 20px;
}

        .service-img{
            margin: 10%;
            width: 100%;
            height: 20vh;
            overflow: hidden;
            border-radius: 10px;
            
           }
       
           .service-flexx{
            display: block;
            margin-right: 30%;
        }

            .contact-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 10%;
                overflow: hidden;
            }

            .instruction-link p{
                padding: 20%;
                text-align: center;
            
            }
            .About-page h1{
                font-size: 30px;
            }
        .about-writeup{
            font-size: 20px;
        }
        .about-writeup:hover{
            font-size: 18px; 
    }


    .contact-page-main{
        padding-top: 20%;
        height: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     background-color: #f6f6f6;
    
        }

        footer{
            height: 35vh;
            width: 100%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 10% 5% ;
            text-align: center;  
            overflow: hidden;
            }

            

    }
